body{
  margin:0;
  font-family:Arial;
  background:#0a0a0a;
  color:white;
}

.container{
  max-width:750px;
  margin:30px auto;
  padding:20px;
  background:#111;
  border-radius:16px;
}

input,textarea{
  width:100%;
  padding:10px;
  margin-top:10px;
  background:#000;
  border:1px solid #333;
  color:white;
  border-radius:10px;
}

button{
  width:100%;
  margin-top:10px;
  padding:10px;
  border:none;
  border-radius:10px;
  background:white;
  color:black;
  font-weight:bold;
  cursor:pointer;
}

.msg{
  background:#0d0d0d;
  border:1px solid #222;
  padding:10px;
  margin-top:10px;
  border-radius:10px;
  cursor:pointer;
}

.msg:hover{
  border-color:#555;
}

.selected{
  border:2px solid #00ff88;
}

.small{
  font-size:12px;
  opacity:0.7;
}

.reply{
  color:#00ff88;
  margin-top:5px;
}

.maintenance {
  position: relative;
  overflow: hidden;
}

/* BANDEROLES BORDS ÉCRAN */
.maintenance::before,
.maintenance::after {
  content: "";
  position: fixed;
  top: 0;
  width: 80px;
  height: 100vh;
  background: repeating-linear-gradient(
    45deg,
    #ff0000,
    #ff0000 20px,
    #000000 20px,
    #000000 40px
  );
  animation: slide 1.5s linear infinite;
  z-index: 9999;
}

/* gauche */
.maintenance::before {
  left: 0;
}

/* droite */
.maintenance::after {
  right: 0;
}

@keyframes slide {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 80px;
  }
}
